[submodule "workspace/nvml-sys"]
	path = workspace/nvml-sys
	url = https://github.com/lemonrock/nvml-sys.git
[submodule "workspace/bitflags"]
	path = workspace/bitflags
	url = https://github.com/lemonrock/bitflags.git
